html(lang="es")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    title= "Agenda"
  body
    div.container
      input(type="text" id="nombre" placeholder="nombre")
      input(type="text" id="numero" placeholder="numero")
      button(id="btn_agregar") Agregar

      each contacto in contactos
        p= `${contacto.name} ${contacto.number}`


  script(src="index_functions.js" type="module")